# DOCKER
POSTGRES_USER=user_admin
POSTGRES_PASSWORD=password_rahasia
POSTGRES_DB=my_database
POSTGRES_PORT=5432
REDIS_PORT=6379
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_rahasia

NODE_ENV=development

# POSTGRES
DATABASE_URL=postgres://user_admin:password_rahasia@localhost:5432/my_database?sslmode=disable

# REDIS
REDUS_URL=redis://localhost:6379

# MINIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_rahasia
MINIO_BUCKET_MEDIA=whatsapp-media

JWT_SECRET=your-secret-key-at-least-30-character
JWT_EXPIRES_IN=24h